<div class="header">
    <ul>
      <li><a href="#"><img class="image" src="assets/logo.svg"></a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">Portal</a></li>
      <li><a href="#">Selling List</a></li>
      <li><a href="#">Tutorial / FAQ</a></li>
      <li><a href="#"><img class="image" src="assets/user_icon.png"></a></li>
    </ul>
</div>
  
<div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
      <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <p>Some text..</p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Filler</h2>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Filler</h3>
      </div>
      <div class="card">
        <h3>Filler</h3>
        <p>Some text..</p>
      </div>
    </div>
</div>