<app-navbar></app-navbar>

<div class="d-flex m-3">
	<!-- Adding the authenticated portion here, will refactor into a seperate page if needed (after figuring out the specfics of authentication) -->

	<div class="leftcolumn">
		<app-collection class=""></app-collection>
	</div>
	<div class="rightcolumn">
		 <img src="assets/smiley.png">
		 <h3>Bob Winner</h3>
		 <p>Decks Owned: 30</p>
	</div>
	
	<!--<section class="position-fixed end-0 border border-5 border-dark-1 rounded-1 me-3 p-3">-->
		<!--<img src="assets/user_icon.png" alt="user" width="128px" height="128px">-->
		<!--<p class="text-center my-2">John Smith</p>-->
	<!--</section>-->
</div>


